apiVersion: backstage.io/v1alpha1
kind: Component
metadata:
  name: ${{ values.projectName }}
  title: ${{ values.displayName }}
  description: ${{ values.description }}
  annotations:
    backstage.io/techdocs-ref: dir:.
  tags:
    - design-system
    - frontend
    - storybook
    - ${{ values.stack }}
  links:
    - url: https://your-storybook-url
      title: Storybook
      icon: dashboard

spec:
  type: library
  lifecycle: production
  owner: ${{ values.owner }}
  system: frontend-platform
